body {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  .heading {
    background-color: #f0f0f0;
    padding: 90px 50px;
    text-align: left;
    font-weight: bold;
  }
}
