.heading {
  background-color: #f0f0f0;
  padding: 90px 50px;
  text-align: left;
  font-weight: bold;
}

.content {
  width: 50%;
  padding: 10px;
  border: 3px solid black;
  margin: 40px auto;

  &-header {
    display: grid;
    grid-template-columns: 2fr 1fr;

    a {
      width: fit-content;
      margin: 15px 0px;
      height: fit-content;
      padding: 15px 30px;
      background-color: #267fff;
      text-decoration: none;
      color: white;
      border-radius: 10px;
      justify-self: center;
    }

    a:hover {
      background-color: #0069ff;
      cursor: pointer;
    }

    p {
      margin: 30px;
    }
  }
}
